{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "jsx",
                    "css",
                    "html",
                    "bash"
                ],
                "plugins": [
                    "keep-markup"
                ]
                // "theme": "okaidia",
                // "css": true
            }
        ]
    ]
}