@use '@sass_settings/sizes.scss';

html {
  height: 100%;
}

body {
  font-family: opensans;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3 {
  user-select: none;
}

.body {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 6rem;
  padding-bottom: 6rem;

  @media only screen and (max-width: #{sizes.$tablet}) {
    gap: 4rem;
    padding-bottom: 4rem;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 3rem;

  h3 {
    color: var(--secondary-letter-color);
  }

  a {
    color: var(--secondary-letter-color);
    transform: scale(2);
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  section {
    padding: 0 4rem;

    @media only screen and (max-width: #{sizes.$tablet}) {
      padding: 0;
    }
  }

  h3 {
    color: var(--main-color);
  }
}

.example-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  @media only screen and (max-width: #{sizes.$tablet}) {
    flex-direction: column;
  }
}

.example-container_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  @media only screen and (max-width: #{sizes.$tablet}) {
    align-self: center;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: auto auto,
  }
}

.change-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  align-items: center;

  gap: 1rem;
}

.change-container_buttons {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: auto auto,
}

.code {
  min-width: 75%;
}


.version-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: var(--secondary-letter-color);
}