.SrOnly_sronly__9Qc6b {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%)
}

.Avatar_avatar__biMpG {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%
}

.StoryPlayer_player__csswZ {
    position: relative
}

.StoryPlayer_player__listcontrol__c0pQg {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: calc(100% - 5rem);
    padding: 0;
    text-indent: -9999em;
    background: transparent;
    border: none
}

.StoryPlayer_player__listcontrol__c0pQg:first-of-type {
    left: 0
}

.StoryPlayer_player__listcontrol__c0pQg:last-of-type {
    right: 0
}

.StoryPlayer_player__controls__aX6fa {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .38));
    opacity: 0;
    transition: all .2s
}

.StoryPlayer_player__controls__aX6fa:focus-within {
    opacity: 1
}

@media(hover:none) {
    .StoryPlayer_player__controls__aX6fa {
        opacity: 1
    }
}

.StoryPlayer_player__csswZ:hover .StoryPlayer_player__controls__aX6fa {
    opacity: 1
}

.StoryPlayer_player__btn__Txmfj {
    z-index: 1;
    padding: .5rem;
    color: #fff;
    background: transparent;
    border: none
}

.StoryPlayer_player__csswZ video {
    aspect-ratio: 1/1.77
}

.StoryPlayer_progress__XDP__ {
    display: flex;
    grid-gap: .5rem;
    gap: .5rem;
    width: 100%
}

.StoryPlayer_progress__bar__u5pVw {
    flex: 1 1;
    height: .2rem;
    background: rgba(255, 255, 255, .3);
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-size: var(--progress, 0) 100%;
    border-radius: .1rem
}

.StoryPlayer_progress__bar--completed__uVQDF {
    background: #fff
}

@media(min-width:1024px) {
    .StoriesMobile_stories__Nehmf {
        display: none
    }
}

.StoriesMobile_stories__miniatures__Zw5sy {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    max-width: 100vw;
    margin: 0 calc(var(--container-padding)*-1) 3.75rem;
    padding: 0 var(--container-padding);
    overflow: auto
}

.StoriesMobile_stories__miniatures__Zw5sy>:first-child {
    margin-left: auto
}

.StoriesMobile_stories__miniatures__Zw5sy>:last-child {
    margin-right: auto
}

.StoriesMobile_stories__video__nh7kj {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #1a2233
}

.StoriesMobile_stories__video__nh7kj video {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover
}

.StoriesMobile_miniature__pC0rM {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: .875rem/1.42 Moderat, Arial, sans-serif
}

.StoriesMobile_miniature__image__IqFEp {
    padding: .25rem;
    border: 2px solid #3cff64;
    border-radius: 50%
}

.StoriesMobile_miniature__image__IqFEp>* {
    display: block
}

.Hero_hero__eAIon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

@media(min-width:1024px) {
    .Hero_hero__eAIon {
        flex-direction: row;
        grid-gap: 3rem;
        gap: 3rem;
        max-width: 72rem
    }
}

@media(min-width:1440px) {
    .Hero_hero__eAIon {
        grid-gap: 8rem;
        gap: 8rem
    }
}

.Hero_hero__content__JVEkI {
    text-align: center
}

@media(min-width:1024px) {
    .Hero_hero__content__JVEkI {
        max-width: 41.5rem;
        text-align: left
    }
}

.Hero_hero__cta__ukc6x {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0
}

@media(min-width:1024px) {
    .Hero_hero__cta__ukc6x {
        justify-content: flex-start
    }
}

.Hero_hero__tip__mn_eL {
    font: 1rem/1.5 Moderat, Arial, sans-serif
}

.Hero_hero__story__wEDzl {
    display: none;
    flex-shrink: 0;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .25)
}

.Hero_hero__story__wEDzl,
.Hero_hero__story__wEDzl>* {
    overflow: hidden;
    border-radius: 2rem
}

.Hero_hero__story__wEDzl>*>:first-child {
    border-radius: 2rem 2rem 0 0
}

@media(min-width:1024px) {
    .Hero_hero__story__wEDzl {
        display: block;
        max-width: 20.5rem
    }
}

@media(min-width:1440px) {
    .Hero_hero__story__wEDzl {
        max-width: none
    }
}

.Hero_hero__eAIon h1 {
    font: 2.62rem/1.14 Moderat, Arial, sans-serif;
    white-space: pre-line
}

@media(min-width:1024px) {
    .Hero_hero__eAIon h1 {
        font: 3.5rem/1.14 Moderat, Arial, sans-serif
    }
}

@media(min-width:1440px) {
    .Hero_hero__eAIon h1 {
        font: 4rem/1.05 Moderat, Arial, sans-serif
    }
}

@media(min-width:1024px) {
    .Hero_hero__eAIon h1 {
        font: 3.18rem/1.01 Moderat, Arial, sans-serif
    }
}

@media(min-width:1024px)and (min-width:1024px) {
    .Hero_hero__eAIon h1 {
        font: 4.43rem/1.12 Moderat, Arial, sans-serif
    }
}

@media(min-width:1024px)and (min-width:1440px) {
    .Hero_hero__eAIon h1 {
        font: 5rem/1.05 Moderat, Arial, sans-serif
    }
}

.MiniCard_minicard__BeSsz {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: .25rem
}

.MiniCard_minicard__title__8LJbP {
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif
}

@media(min-width:480px) {
    .MiniCard_minicard__title__8LJbP {
        font: 700 1.5rem/1.33 Moderat, Arial, sans-serif
    }
}

.MiniCard_minicard__sticker___YsIW {
    display: none
}

@media(min-width:480px) {
    .MiniCard_minicard__sticker___YsIW {
        display: block;
        min-width: 6rem
    }
}

.MiniCard_minicard--1__2DK_D {
    background: #3cff64
}

.MiniCard_minicard--2__QAQRl {
    color: #fff;
    background: #7026f4
}

.MiniCard_minicard--3__sMiGD {
    background: #fef878
}

.MiniCard_minicard--3__sMiGD ::-moz-selection {
    background: rgba(60, 255, 100, .9)
}

.MiniCard_minicard--3__sMiGD ::selection {
    background: rgba(60, 255, 100, .9)
}

.KeyPoints_keypoints__d7Ocy {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    gap: 3rem
}

@media(min-width:1024px) {
    .KeyPoints_keypoints__d7Ocy {
        flex-direction: row;
        grid-gap: 1.5rem;
        gap: 1.5rem;
        align-items: center
    }
}

@media(min-width:1440px) {
    .KeyPoints_keypoints__d7Ocy {
        grid-gap: 4rem;
        gap: 4rem;
        max-width: 80rem;
        margin: 0 auto
    }
}

.KeyPoints_keypoints__header__ySOWw {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    grid-gap: 2rem;
    gap: 2rem;
    align-items: center;
    text-align: center
}

.KeyPoints_keypoints__lead__2lKoB {
    font: 1rem/1.5 Moderat, Arial, sans-serif
}

.KeyPoints_keypoints__cards__3om_j {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    grid-gap: 2rem;
    gap: 2rem
}

.Carousel_carousel__hq8cj {
    --margin-x: calc(100vw - var(--container-width) + (var(--container-padding) * 2)) /2;
    width: 100vw;
    margin-left: calc(-1*var(--margin-x));
    overflow: hidden
}

@media(max-width:375px) {
    .Carousel_carousel__hq8cj {
        --margin-x: var(--container-padding)
    }
}

.Carousel_carousel__slider__MjSrE {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: transform .3s;
    scroll-behavior: smooth;
    scrollbar-width: none
}

.Carousel_carousel__slider__MjSrE::-webkit-scrollbar {
    display: none
}

.Carousel_carousel__slider__MjSrE:not(.Carousel_carousel__slider--virtualized__bb_nB) {
    padding: 0 calc(var(--margin-x))
}

.Carousel_carousel__slide__H5tcR {
    padding-right: 1.5rem;
    transition: all .2s
}

.Carousel_carousel__slider--virtualized__bb_nB .Carousel_carousel__slide__H5tcR {
    transform: translateX(calc(var(--margin-x) + var(--additional-offset, 0px)))
}

.Carousel_carousel__nav__llFnH {
    margin-top: 1.5rem;
    margin-left: calc(var(--margin-x));
    text-align: left
}

@media(hover:none) {
    .Carousel_carousel__nav__llFnH {
        display: none
    }
}

.Carousel_carousel__button__ZqBAM {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: all .2s
}

.Carousel_carousel__button__ZqBAM:hover {
    color: #1a2233;
    background: #efefef
}

.QuoteCard_quotecard__8cVJV {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 26.4rem;
    height: 100%;
    padding: 2rem;
    color: #1a2233;
    text-align: left;
    border-radius: .5rem
}

@media(min-width:1024px) {
    .QuoteCard_quotecard__8cVJV {
        width: 47rem;
        padding: 3rem
    }
}

.QuoteCard_quotecard__quote__k9oJ3 {
    font: 2rem/1.25 Moderat, Arial, sans-serif;
    margin-bottom: 3rem
}

@media(min-width:1024px) {
    .QuoteCard_quotecard__quote__k9oJ3 {
        font: 3.18rem/1.17 Moderat, Arial, sans-serif
    }
}

.QuoteCard_quotecard__quote__k9oJ3 strong {
    font-weight: 400
}

.QuoteCard_quotecard__sticker__1Ve3h {
    float: right;
    shape-outside: circle(closest-side at 50% 75%);
    margin-top: 18%
}

.QuoteCard_quotecard__caption__Xei2E {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    font: 1.125rem/1.55 Moderat, Arial, sans-serif
}

.QuoteCard_quotecard__name__9Ol2g {
    display: block;
    font-weight: 700
}

.QuoteCard_quotecard__logo__CNaSu {
    margin-left: auto
}

.QuoteCard_quotecard--1__N_jV0 {
    background: #3cff64
}

.QuoteCard_quotecard--1__N_jV0 .QuoteCard_quotecard__quote__k9oJ3 strong,
.QuoteCard_quotecard--2__Lgruu {
    color: #fff;
    background: #7026f4
}

.QuoteCard_quotecard--2__Lgruu .QuoteCard_quotecard__quote__k9oJ3 strong {
    color: #1a2233;
    background: #fef878
}

.QuoteCard_quotecard--3__wbo7V {
    background: #fef878
}

.QuoteCard_quotecard--3__wbo7V .QuoteCard_quotecard__quote__k9oJ3 strong {
    background: #3cff64
}

.QuoteCard_quotecard--3__wbo7V ::-moz-selection {
    background: rgba(60, 255, 100, .9)
}

.QuoteCard_quotecard--3__wbo7V ::selection {
    background: rgba(60, 255, 100, .9)
}

.Testimonials_testimonials__zcoYu {
    padding: 3rem 0;
    color: #fff;
    text-align: center;
    background: #1a2233
}

.Testimonials_testimonials__content__PL9bK {
    margin: 4rem 0
}

.Testimonials_testimonials__lead__bJL7o {
    font: 1rem/1.5 Moderat, Arial, sans-serif
}

@media(min-width:1024px) {
    .Testimonials_testimonials__lead__bJL7o {
        font: 1.125rem/1.55 Moderat, Arial, sans-serif
    }
}

.ChatCard_card__LaoK9 {
    --chat-bg: #efefef;
    --bd-radius: 0.25rem;
    --tip-offset: 1.5rem;
    position: relative;
    padding: 1.5rem 2rem;
    background: var(--chat-bg);
    border-radius: var(--bd-radius)
}

.ChatCard_card__LaoK9:after {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom-color: transparent;
    border: var(--tip-offset) solid transparent;
    border-bottom: var(--tip-offset) solid var(--chat-bg);
    content: ""
}

.ChatCard_card__title__DhdUZ {
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif
}

@media(min-width:480px) {
    .ChatCard_card__title__DhdUZ {
        font: 700 1.5rem/1.33 Moderat, Arial, sans-serif
    }
}

.ChatCard_card__LaoK9+.ChatCard_card__LaoK9 {
    margin-top: 2rem
}

.ChatCard_card__LaoK9:nth-child(odd) {
    border-bottom-right-radius: 0
}

.ChatCard_card__LaoK9:nth-child(odd):after {
    right: calc(var(--tip-offset)*-1)
}

.ChatCard_card__LaoK9:nth-child(2n) {
    border-bottom-left-radius: 0
}

.ChatCard_card__LaoK9:nth-child(2n):after {
    left: calc(var(--tip-offset)*-1)
}

.Value_value___z5yA {
    display: flex;
    grid-gap: 3rem;
    gap: 3rem;
    align-items: center;
    justify-content: space-between
}

@media(min-width:1440px) {
    .Value_value___z5yA {
        max-width: 72rem;
        margin: 0 auto;
        padding-right: 9rem
    }
}

@media(min-width:1024px) {
    .Value_value__cards__0V49s {
        max-width: 34rem;
        padding: 0 1.5rem
    }
}

.Value_value__story__Y9IWA {
    display: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .25)
}

.Value_value__story__Y9IWA,
.Value_value__story__Y9IWA>* {
    overflow: hidden;
    border-radius: 2rem
}

.Value_value__story__Y9IWA>*>:first-child {
    border-radius: 2rem 2rem 0 0
}

@media(min-width:1024px) {
    .Value_value__story__Y9IWA {
        display: block
    }
}

.ChangelogCard_card__i_Opy {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    padding: 1.5rem 2rem;
    overflow: hidden;
    background: no-repeat bottom;
    background-size: cover;
    border-radius: .25rem
}

.ChangelogCard_card--light__IFaDO:not(.ChangelogCard_card--codely__QhcFY) {
    color: #fff;
    background-color: #1a2233
}

.ChangelogCard_card--dark__Qp_Kk {
    color: #1a2233;
    background-color: #efefef
}

.ChangelogCard_card__i_Opy img {
    -o-object-fit: cover;
    object-fit: cover
}

.ChangelogCard_card__i_Opy>:not(.ChangelogCard_card__image__KNU0m) {
    z-index: 1
}

.ChangelogCard_card__image__KNU0m {
    z-index: 0
}

.ChangelogCard_card__i_Opy:not(.ChangelogCard_card--codely__QhcFY):after,
.ChangelogCard_card__i_Opy:not(.ChangelogCard_card--codely__QhcFY):before {
    position: absolute;
    right: 0;
    left: 0;
    content: ""
}

.ChangelogCard_card__i_Opy:not(.ChangelogCard_card--codely__QhcFY):before {
    top: 0;
    z-index: 1;
    height: 20%;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .38))
}

.ChangelogCard_card__i_Opy:not(.ChangelogCard_card--codely__QhcFY):after {
    bottom: 0;
    height: 50%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .38))
}

.ChangelogCard_card__platform__w3ck6 {
    display: flex;
    align-items: center;
    margin-bottom: auto
}

.ChangelogCard_card__platform__w3ck6>:first-child {
    margin-right: .5rem
}

.ChangelogCard_card__title__mcPcI {
    margin-top: 1.25rem;
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif
}

.ChangelogCard_card__subtitle__OBauS {
    font: 1.31rem/1.33 Moderat, Arial, sans-serif
}

.Changelog_changelog__qtLeV {
    padding: 1rem;
    color: #fff;
    background: #1a2233
}

.Changelog_changelog__content__xFVUH {
    --grid-spacing: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--grid-spacing);
    gap: var(--grid-spacing)
}

@media(min-width:1024px) {
    .Changelog_changelog__content__xFVUH {
        grid-auto-flow: column;
        grid-template-rows: repeat(12, 5rem);
        grid-template-columns: repeat(2, 1fr);
        margin: -6rem 0;
        padding: 0 var(--grid-spacing);
        grid-column-gap: var(--grid-spacing);
        -moz-column-gap: var(--grid-spacing);
        column-gap: var(--grid-spacing);
        grid-row-gap: 0;
        row-gap: 0
    }

    .Changelog_changelog__content__xFVUH>:not(.Changelog_changelog__title__k2_N0) {
        --offset: calc((-50vh + (var(--top) * 1px) + (var(--height) / 2 * 1px)));
        grid-row: span 6;
        transform: translateY(calc(var(--offset) / 10))
    }

    .Changelog_changelog__content__xFVUH>:not(.Changelog_changelog__title__k2_N0):first-of-type {
        margin-bottom: var(--grid-spacing)
    }
}

@media(min-width:1440px) {
    .Changelog_changelog__content__xFVUH {
        --grid-spacing: 6rem;
        grid-template-rows: repeat(12, 6rem)
    }
}

.Changelog_changelog__title__k2_N0 {
    margin: 1rem 0;
    text-align: center
}

@media(min-width:1024px) {
    .Changelog_changelog__title__k2_N0 {
        grid-row: 3/6;
        grid-column: 2
    }
}

.Changelog_link__Gtkrp {
    margin-top: 3rem;
    text-align: center
}

.Pill_pill__J_9Wh {
    display: inline-block;
    padding: .5rem 1rem;
    font: 700 1rem/1.5 Moderat, Arial, sans-serif;
    white-space: nowrap;
    background: #efefef;
    border: none;
    border-radius: 2rem;
    transition: all .2s
}

.Pill_pill__J_9Wh:hover {
    background: #ddd
}

.Pill_pill--active__wRZT3 {
    color: #fff;
    background: #1a2233
}

.Pill_pill--active__wRZT3:hover {
    background: #1a2233
}

.Avatars_avatars__66oLb {
    --avatar-width: 3rem;
    white-space: nowrap
}

.Avatars_avatars__66oLb>* {
    display: inline-block;
    width: var(--avatar-width)
}

.Avatars_avatars__66oLb>*+* {
    margin-left: calc(var(--avatar-width)/2*-1)
}

.CourseCard_course__MGCz0 {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    font: 1rem/1.5 Moderat, Arial, sans-serif;
    background: #efefef;
    border-radius: .25rem;
    transition-duration: .15s
}

.CourseCard_course__content__QOihe {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1.5rem
}

.CourseCard_course__title__jFv_w {
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif
}

.CourseCard_course__description__90KnG {
    position: absolute;
    visibility: hidden
}

.CourseCard_course__highlight__O4vEK {
    width: 100%
}

.CourseCard_course__footer__VfWlB {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem
}

@media(prefers-reduced-motion:no-preference) {
    .CourseCard_course__MGCz0:hover .CourseCard_course__header__kYJ2U {
        position: absolute;
        visibility: hidden
    }

    .CourseCard_course__MGCz0:hover .CourseCard_course__description__90KnG {
        position: static;
        visibility: visible
    }
}

.CourseCard_authors__TLhui {
    display: flex;
    grid-gap: .75rem;
    gap: .75rem;
    align-items: center;
    padding-top: 1rem
}

.CourseCard_cover__858ak {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 11.4rem
}

.CourseCard_cover--green__SXwq_ {
    background: #3cff64
}

.CourseCard_cover--violet__rUziM {
    color: #fff;
    background: #7026f4
}

.CourseCard_cover--violet__rUziM a {
    color: #fff
}

.CourseCard_cover--yellow__R_zLI {
    background: #fef878
}

.CourseCard_cover--pink__jZ64a {
    background: #e0a4bf
}

.CourseCard_cover__new__MHvIn {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font: 700 1rem/1.5 Moderat, Arial, sans-serif
}

.CourseCard_cover__brand__sPUvv {
    display: flex;
    justify-content: space-between;
    width: 8.62rem;
    height: 3.93rem;
    transition: all .3s
}

.CourseCard_cover__brand__sPUvv svg {
    color: #1a2233
}

@media(prefers-reduced-motion:no-preference) {
    .CourseCard_course__MGCz0:hover .CourseCard_cover__brand__sPUvv {
        width: 14.25rem
    }
}

.CourseCard_cover__sticker__EDFmv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media(prefers-reduced-motion:no-preference) {
    .CourseCard_course__MGCz0:hover .CourseCard_cover__sticker__EDFmv {
        visibility: hidden
    }
}

.CourseCard_cover__title__WQMeD {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 10rem;
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif;
    text-align: center;
    transform: translate(-50%, -50%);
    visibility: hidden
}

@media(prefers-reduced-motion:no-preference) {
    .CourseCard_course__MGCz0:hover .CourseCard_cover__title__WQMeD {
        visibility: visible
    }
}

.Courses_courses__bIWZA {
    text-align: center
}

.Courses_courses__categories__esLdC {
    display: flex;
    grid-gap: 1.25rem;
    gap: 1.25rem;
    padding: 2rem 1.25rem;
    overflow: auto
}

.Courses_courses__categories__esLdC>:first-child {
    margin-left: auto
}

.Courses_courses__categories__esLdC>:last-child {
    margin-right: auto
}

@media(min-width:1024px) {
    .Courses_courses__categories__esLdC {
        margin: 3rem 0
    }
}

.Courses_courses__content__43wMl {
    margin: 2rem 0;
    text-align: left
}

.Courses_courses__content__43wMl>*>:last-child {
    margin-top: 0
}

.Courses_courses__card__FZ74g {
    width: 17rem;
    height: calc(100% - 1.5rem);
    transition: all .2s
}

.Courses_slide-hover__pDwMI>* {
    transform: rotate(5deg);
    transform-origin: bottom left
}

.Courses_slide-hover__pDwMI~* {
    --additional-offset: 2rem
}

.Lead_lead__UVyfm {
    font: .875rem/1.42 Moderat, Arial, sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase
}

.Lead_lead--bold__sioe8 {
    font-weight: 700
}

.Toggle_label___sYBB {
    display: flex;
    grid-gap: .5rem;
    gap: .5rem;
    align-items: center;
    color: #787676;
    font: 1rem/1.5 Moderat, Arial, sans-serif
}

.Toggle_label__switch__AVU3r {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 1.25rem;
    text-indent: -9999px;
    background: #787676;
    border-radius: .625rem;
    cursor: pointer
}

.Toggle_label__switch__AVU3r:after {
    position: absolute;
    top: .125rem;
    left: .125rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
    content: ""
}

.Toggle_input__PpJTd {
    position: absolute;
    visibility: hidden
}

.Toggle_input__PpJTd:checked+.Toggle_label___sYBB .Toggle_label__switch__AVU3r {
    background: #7026f4
}

.Toggle_input__PpJTd:checked+.Toggle_label___sYBB .Toggle_label__switch__AVU3r:after {
    left: calc(100% - .125rem);
    transform: translateX(-100%)
}

.Benefits_benefit__tVCtv {
    display: flex;
    grid-gap: .5rem;
    gap: .5rem;
    margin: .75rem 0
}

.Benefits_benefit--disabled__SKq_P {
    color: #787676
}

.Benefits_benefit--enabled__k71uj {
    font-weight: 700
}

.Price_price__ca124 {
    font: 700 1rem/1.5 Moderat, Arial, sans-serif
}

@media(min-width:1024px) {
    .Price_price__ca124 {
        white-space: nowrap
    }
}

.Price_price__amount__GK89C {
    font: 3.18rem/1.01 Moderat, Arial, sans-serif;
    font-feature-settings: "tnum" !important;
    font-variant-numeric: tabular-nums !important
}

@media(min-width:1024px) {
    .Price_price__amount__GK89C {
        font: 4.43rem/1.12 Moderat, Arial, sans-serif
    }
}

@media(min-width:1440px) {
    .Price_price__amount__GK89C {
        font: 5rem/1.05 Moderat, Arial, sans-serif
    }
}

.Price_price__decimals__L0TYL {
    font: 1.5rem/1.33 Moderat, Arial, sans-serif;
    font-feature-settings: "tnum" !important;
    font-variant-numeric: tabular-nums !important
}

@media(min-width:480px) {
    .Price_price__decimals__L0TYL {
        font: 2rem/1.25 Moderat, Arial, sans-serif
    }
}

.Price_tooltip__AGmuA {
    position: relative;
    display: inline-block;
    height: 1.5rem;
    margin-left: .5rem;
    vertical-align: middle
}

.Price_tooltip__label__DwYc8 {
    position: absolute;
    top: 50%;
    left: 100%;
    padding: .5rem;
    color: #fff;
    font: .875rem/1.42 Moderat, Arial, sans-serif;
    white-space: nowrap;
    background: rgba(26, 34, 51, .9);
    border-radius: .25rem;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .2s
}

.Price_tooltip__AGmuA:hover .Price_tooltip__label__DwYc8 {
    visibility: visible;
    opacity: 1
}

.PricingWrapper_pricing__UM7jD {
    padding: 3rem 0;
    background: #1a2233
}

@media(min-width:1024px) {
    .PricingWrapper_pricing__UM7jD {
        padding: 8rem
    }
}

.PricingWrapper_pricing__content__PksSY {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3rem;
    gap: 3rem;
    justify-content: center;
    max-width: 54rem;
    margin: 0 auto
}

.PricingWrapper_pricing__content__PksSY>* {
    flex-basis: 24rem;
    flex-grow: 1
}

.Pricing_card___J_y2 {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background: #fff;
    border-radius: .25rem
}

@media(min-width:1024px) {
    .Pricing_card___J_y2 {
        min-height: 39rem;
        padding: 3rem
    }
}

.Pricing_card--secondary__wAfwL {
    color: #fff;
    background: transparent;
    border: 1px solid
}

.Pricing_card__header__fcZI9 {
    margin-bottom: 2rem
}

@media(min-width:1440px) {
    .Pricing_card--narrow__qmrXq .Pricing_card__header__fcZI9 {
        min-height: 9.7rem
    }
}

.Pricing_card__title__QGL_X {
    font: 700 1.31rem/1.33 Moderat, Arial, sans-serif
}

@media(min-width:480px) {
    .Pricing_card__title__QGL_X {
        font: 700 1.5rem/1.33 Moderat, Arial, sans-serif
    }
}

@media(min-width:1024px) {
    .Pricing_card--wide__Fmhzo .Pricing_card__title__QGL_X {
        text-align: center
    }
}

.Pricing_card__description__tc_hp {
    margin-top: 1.25rem;
    font: 1.31rem/1.33 Moderat, Arial, sans-serif
}

@media(min-width:480px) {
    .Pricing_card__description__tc_hp {
        font: 1.5rem/1.33 Moderat, Arial, sans-serif
    }
}

.Pricing_card__control__6y2Iv {
    margin-top: 1rem
}

.Pricing_card__content__j7kxH {
    margin-bottom: auto;
    font: 1rem/1.5 Moderat, Arial, sans-serif
}

@media(min-width:1024px) {
    .Pricing_card--wide__Fmhzo .Pricing_card__content__j7kxH {
        display: flex;
        grid-gap: 4rem;
        gap: 4rem;
        align-items: flex-start
    }
}

.Pricing_card__cta__DDuv6 {
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto 0;
    text-align: center
}

.Pricing_card__cta__DDuv6>:last-child {
    width: 100%;
    margin-top: 1rem
}

.Pricing_centered__5n0H6 {
    text-align: center
}

/*# sourceMappingURL=a6756e1b60a29eef.css.map*/