@use '@sass_settings/sizes.scss';

.section {
    width: var(--section-width);
    max-width: 100%;
    /* if no flex in parent:
    margin-right: auto;
    margin-left: auto; */
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.full {
    width: 100%;
}

.flexRow {
    flex-direction: row;
}

.black {
    background-color: #121212;
    color: white;
}